h1, h2, h3 {
  color: darkblue;
  font-size: 24px;
  text-align: center;
  text-transform: uppercase;
}


p {
  margin-left: 10%;
  margin-right: 10%;
  text-align: justify;
  text-indent: 20px;
  text-decoration-line: none;
}


.destacado {
  background-color: yellow;
  font-style: italic;
  padding: 10px;
}


#tituloPrincipal {
  font-size: 2.5em;
  color: darkblue;
  border: 1px solid black;
}
